  <br />
<div class="col-10 offset-1">
	<h1>About Us</h1>
  <br />
	<p class="text">
    Mychat application was built by <a target="_blank" href="https://github.com/JennyOh1004">Jenny Seulki Oh</a>.
  </p>
	<p class="text">
	Realtime chats are the most common Chat web application.	
	</p>
</div>