<br />
<div class="row">
<div class="booyah-box col-12 col-md-3">
	<%= render partial: 'chats' %>

</div>

<div class="col">
	<div class="alert alert-primary">
		<h4 class="alert-heading maintext">
			Welcome to the My Chat Apps!
		</h4>

		<p class="maintext">
			We need to talk.
		</p>

		<hr />

		<p class="text">
			You can create or join a room from the sidebar.
		</p>
	</div>
  </div>
</div>