@import "bootstrap";

.maintext{
	letter-spacing: 1px;
	font-size: 24px;
}

.text{
	letter-spacing: 1px;
	font-size: 19px;
	color: #A92233;
}


.button{
	background-color: #A92233;
	color: #fff;
	letter-spacing: 1px;
	width: 220px;
}

.button:hover{
	background-color: #fff;
	border-color: #A92233;
	color: #A92233;
	letter-spacing: 1px;
}

.nav{
	letter-spacing: 1px;
	padding: 10px;
}

.navbar-brand{
	letter-spacing: 1px;
	padding: 5px;
	color: #A92233;
}


.room-nav-link{
	border: 1px solid #A92233;
	color: #000;
	width: 200px;
	letter-spacing: 2px;
	
}


.room{
	border: 1px solid #A92233;
	background: gray;
	border-radius: 5px 5px 0 0;

}

.room-input{
	border-top: 0 none;
	border-radius: 0 0 5px 5px;
}




.chat-message-container{
	padding: 5px;
}

.message-content{
	padding: 5px;
	border: 1px solid #000;
	border-radius: 5px;
	background: gray;
	color: #fff;
}




