@import "bootstrap";

.maintext{
	letter-spacing: 1px;
	font-size: 24px;
}

.text{
	letter-spacing: 1px;
	font-size: 19px;
	color: #A92233;
}


.button{
	background-color: #A92233;
	color: #fff;
	letter-spacing: 1px;
}

.button:hover{
	background-color: #fff;
	border-color: #A92233;
	color: #A92233;
	letter-spacing: 1px;
}

.nav{
	letter-spacing: 1px;
	padding: 10px;
}

.navbar-brand{
	letter-spacing: 1px;
	padding: 5px;
	color: #A92233;
}





